<settings>
  <servers>
  <server>
    <id>luekrit-nextwork-devop-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

  <profiles>
  <profile>
    <id>luekrit-nextwork-devop-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>luekrit-nextwork-devop-cicd</id>
        <url>https://luekrit-801681997379.d.codeartifact.ap-southeast-2.amazonaws.com/maven/nextwork-devop-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

  <mirrors>
  <mirror>
    <id>luekrit-nextwork-devop-cicd</id>
    <name>luekrit-nextwork-devop-cicd</name>
    <url>https://luekrit-801681997379.d.codeartifact.ap-southeast-2.amazonaws.com/maven/nextwork-devop-cicd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
